.table-responsive-inner {
    .owl-carousel {
        .owl-nav {
            button { 
            position: absolute;
            top: 0;
            bottom: 0;
            font-size: 3rem;
            border-radius: 50%;
        }
        .owl-prev {
            left: -20px;
        }
        
        .owl-next {
            right: -20px;
        }
        }
    }
}